* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%; /* fit the content to the screen */
  overflow: hidden; /* Avoid vertical scrolling */
  background-color: rgb(10, 9, 9);
  font-family: prompt;
  font-size: 35px;
  text-align: center;
  margin-top: 100px;
  box-sizing: border-box;
  line-height: 70px;
}
header {
  user-select: none;
  cursor: default;
}
h1 {
  color: #f07178;
}

.price-tracker {
  background: linear-gradient(to left, #30cfd0 0%, #613a91 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.price-tracker:hover {
  opacity: 0.8;
  transition: 0.3s;
}

/* SLIDER */

p {
  font-size: 15px;
  color: grey;
  margin: 0;
  display: flex;
  align-items: center;
  padding: 15px;
}
.price {
  color: rgb(205, 199, 202);
  font-weight: 800;
  margin-left: 10px;
}

img {
  width: 1rem;
  height: 1rem;
}

.percentage {
  color: rgb(238, 43, 111);
  margin-left: 8px;
}

.icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.spot {
  margin-left: 3px;
}

.coins-tracker {
  margin-top: 100px;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(18, 24, 24);
  width: 100%;
  height: 60px;
  display: flex;
  overflow: hidden; /* Agregado para evitar que los elementos se salgan */
}

.coin {
  display: flex;
  height: 100%;
  flex-shrink: 0;
}

.coin:first-child {
  margin-right: auto;
}

.coin:last-child {
  margin-left: auto;
}

.coins {
  display: flex;
  list-style: none;
  flex: 1;
}

.coin {
  animation: coin-slide 30s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes coin-slide {
  0% {
    transform: translateX(0px);
  }
  /* 10% {
    transform: translateX(-200px);
  }
  25% {
    transform: translateX(-300px);
  }
  50% {
    transform: translateX(-500px);
  }
  75% {
    transform: translateX(-700px);
  } */
  100% {
    transform: translateX(-1000px);
  }
}
